.myrow {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    width: 100%;
}
.col-25{
    float: left;
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*white-space : nowrap;*/
    border: 1px solid #ccc;
    width: 33%;
    height: 140px;
   /*line-height: 140px;*/
    text-align: center;
    font-size: 12px;
    display: block;
}